.titulo {
    text-align: center;
    margin: 1em 1em 1em 1em;
    font-size: 3em;
}
.cabecalho {
    background-color: grey;
    padding: 1em;
}
.secao-introdução {
    padding: 5em;
    padding-bottom: 3em;
}
.titulo-secundario{
    text-align: center;
    margin: 1em 1em 1em 1em;
    margin-bottom: 5em;
    font-size: 2em;
}
.introducao {
    text-align: center;
    margin: 1em 1em 1em 1em;
    font-size: 2em;
}
.botao{
    font-size: 1.5em;
    text-align: center;
    padding: 1em 2em 1em 2em;
    margin: 0 1em 0 1em;
    background-color: rgb(124, 124, 124);
    border: 2px solid black;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    transition: 0.7s;
}
.secao-areas{
    text-align: center;
}
.botao:hover{
    background-color: blue;
    transition: 0.7s;
    font-size: 2.1em;
}
.titulo-disciplina{
    text-align: center;
    margin: 2em 1em 2em 1em;
    margin-bottom: 5em;
    font-size: 2em;
}
.container-rodape{
    background-color: grey;
    margin-top: 11.62em;
    text-align: center;    
}
.imagem-iot{
    width: 5%;
}